@font-face {
  font-family: 'Archivo Black';
  src: url(/fonts/ArchivoBlack.ttf) format(truetype);
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url(/fonts/HelveticaNeue.ttf) format(truetype);
}
@font-face {
  font-family: 'Ayuthaya';
  src: url(/fonts/Ayuthaya.ttf) format(truetype);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;

  --white: #FFFFFF;
  --black: #2A2E38;
  --blue: #1551d8;
  --light-blue: #d3e4fe;
  --trans-bg: #ffffffd9;
  --heading-family: 'Archivo Black', sans-serif;
  --heading-weight: 900;
  --copy-family: 'Helvetica Neue', sans-serif;
  --copy-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-family);
  font-weight: var(--heading-weight);
  color: var(--blue);
  margin-bottom: 20px;

}

h1 { font-size: clamp(50px, calc(5vw + 1rem), 70px); text-align: right; }
h2 { font-size: clamp(30px, calc(4vw + 1rem), 50px); }
h3 { font-size: clamp(20px, calc(3.5vw + 1rem), 45px); }

p, a, span, blockquote, figcaption {
  font-family: var(--copy-family);
  font-weight: var(--copy-weight);
  color: var(--black);
}

p {
  margin-bottom: 20px;
  font-size: clamp(1rem, calc(1vw + 1rem), 1.2rem);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover { text-decoration: underline;}

ul {
  list-style: none;
}

li {
  font-size: 1.2rem;
  font-family: var(--copy-family);
  font-weight: var(--copy-weight);
}

img {
  max-width: 100%;
}

code[class*='language-'],
pre[class*='language-'],
code > * {
  font-family: 'Ayuthaya', monospace !important;
}
